<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="pt-2">
  <img width="300" alt="Angular Logo" src="../assets/logo.png">
  <h1>Data Pegawai</h1>
</div>


<div class="container pt-2 pb-2">
  <div class="card mb-2" *ngIf="newPegawai||editpegawai">
      <div class="card-header">
        <h3 *ngIf="newPegawai">Tambah Pegawai</h3>
        <h3 *ngIf="editpegawai">Edit Pegawai</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label>ID</label><input [disabled]="editpegawai" type="text" class="form-control" [(ngModel)]="peg_model.ID" name="ID">
            </div>
            <div class="col-md-6">
              <label>Nama</label><input type="text" class="form-control"[(ngModel)]="peg_model.Nama" name="Nama">
            </div>
            <div class="col-md-6">
              <label>Jenis Kelamin</label><br>
              <div class="form-check form-check-inline">
                <input type="radio" name="JK" [(ngModel)]="peg_model.Jenis_Kelamin" id="kl" class="form-check-input" value="Laki-Laki">
                <label class="form-check-label" for="jkl">Laki-Laki</label>
              </div>
              <div class="form-check form-check-inline">
                  <input type="radio" name="JK" [(ngModel)]="peg_model.Jenis_Kelamin" id="jkp" class="form-check-input" value="Perempuan">
                  <label class="form-check-label" for="jkp">Perempuan</label>
              </div>
              
            </div>
            <div class="col-md-6">
              <label>Tanggal Lahir</label>
              <input type="date"class="form-control" name="tgl_lahir" [(ngModel)]="peg_model.Tgl_Lahir">
              <!-- <input type="text"class="form-control" name="tgl_lahir" [(ngModel)]="peg_model.Tgl_Lahir" bsDatepicker> -->
            </div>
            <div class="col-md-6">
              <label>Jabatan</label>
              <select name="ID_Jabatan" id="" class="form-control" [(ngModel)]="peg_model.ID_Jabatan">
                <option *ngFor="let pos of jabatan" value="{{pos.ID}}">{{pos.ID}} - {{pos.Nama_Jabatan}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Salary</label><input type="number" class="form-control" [(ngModel)]="peg_model.Salary" name="Salary">          </div>          
            <div class="col-md-6" *ngIf="newPegawai">
              <label>Kelengkapan Dokumen</label>
              <select multiple name="kelDok" [(ngModel)]="peg_model.documents" class="form-control">
                <option *ngFor="let dok of dokumen" value="{{dok.ID_Klp_Dok}}">{{dok.ID_Klp_Dok}} - {{dok.Nama_Klp_Dok}}</option>
              </select>
            </div>
            <div class="col-md-6" *ngIf="newPegawai">
              <label>Profile Picture</label>
              <input type="file" accept="image/*" class="form-control" name="pp">
            </div>
          </div>
              
          </form>
          <div class="btn-action pt-2">
            <button *ngIf="newPegawai" class="btn btn-primary" (click)="addPegawai(peg_model)">Tambah</button>
            <button *ngIf="editpegawai" class="btn btn-warning" (click)="putPegawai(peg_model)">Edit</button>
            <button type="reset" class="btn btn-danger" (click)="newPegawai=false;editpegawai=false;">Cancel</button>
          </div>
      </div>
  </div>

  <div class="card mb-2">
    <div class="card-header">
      <button class="btn btn-primary float-right" (click)="tambah()">Tambah Pegawai</button>
      <h3>List Pegawai </h3>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nama</th>
            <th>Jabatan</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let peg of pegawai">
            <td>{{peg.ID}}</td>
            <td>{{peg.Nama}}</td>
            <td><ng-container *ngFor="let pos of jabatan">
              <div *ngIf="peg.ID_Jabatan==pos.ID">{{pos.Nama_Jabatan}} ({{peg.ID_Jabatan}})</div>
            </ng-container></td>
            <td>
                <button class="btn btn-warning" (click)="editPegawai(peg)">Edit</button>
                <button class="btn btn-danger" (click)="delPegawai(peg)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
